
source/server/*/bin/
source/server/*/obj/
source/server/packages/
server/*.suo
source/server/buildreports/

source/server/test-results.xml
*.user
source/server/bin/
nunit-result.xml
*.swp
source/server/coverage
buildreports
source/server/.vs/config/applicationhost.config
source/server/OpenCover/

source/server/.vs/MyOfficeSpace/config/applicationhost.config

source/server/.vs/MyOfficeSpace/v16/.suo

source/server/MyOfficeSpace.Persistence/ApplicationDbContext.dgml

source/server/.vs/MyOfficeSpace/DesignTimeBuild/.dtbcache.v2
*.testlog
*.manifest

source/server/MyOfficeSpace.Domain.Tests/Auth/.editorconfig

source/server/.vscode/launch.json
source/server/.vs/MyOfficeSpace/project-colors.json
source/server/.vs/MyOfficeSpace/v17/.futdcache.v1
source/server/.vs/MyOfficeSpace/v17/.suo
